name: Generate Pacman Animation
on:
  schedule:
    - cron: "0 0 * * *"  # Roda diariamente
  workflow_dispatch:  # Permite execução manual
  push:
    branches: [ main ]

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: Platane/snk@v3
        with:
          github_user_name: aprendizdoconnor
          svg_out_path: dist/pacman.svg
          color_pacman: '#FFD700'
          color_dots: '#00FF00'
      - uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
